<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:jdbc="http://www.springframework.org/schema/jdbc"  
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:util="http://www.springframework.org/schema/util" xmlns:task="http://www.springframework.org/schema/task" xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd"
	default-lazy-init="true">

	<!-- 配置文件外置 -->
	<!-- <context:property-placeholder
		location="file:E:/developer/config/application.properties"
		ignore-unresolvable="true" ignore-resource-not-found="true" order="0"
		system-properties-mode="NEVER" />
		
	<bean id="propertyConfigurer" class="com.amass.basic.tools.PpUtil">
        <property name="location">
            <value>file:E:/developer/config/application.properties</value>
        </property>
    </bean> -->
    
    <context:property-placeholder location="classpath:properties/db.properties"/>
</beans>